body {
    background: url('cross.png');
    background-repeat: repeat;
    background-color: #DCF5F5;
}

.red-border {
    border-style: solid;
    border-color: red;
}

.topRounded{
    border-radius: 8px 8px 0px 0px;
    border-style: solid solid none solid;
}

.bottomRounded{
    border-radius: 0px 0px 8px 8px;
}

.blue-border {
    border-style: solid;
    border-color: blue;
}

.red-outline {
    outline-style: solid;
    outline-color: red;
}

.blue {
    color: blue;
}

.fancy{
    font-family: cursive;
}

.outer {
    background-color: blue;
    border-color: red;
    border-style: solid;
}

.inner {
    background-color: yellow;
    border-color: red;
    border-style: solid;
    text-align: right;
}

.inner1{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 12px;
    height: 198px;
    width: 698px;
    vertical-align: middle;
}

.outer2{
    margin-top: 20px;
}
.inner2{
    padding: 12px;
    height: 398px;
    width: 398px;
    margin: 0 auto;
}

#content {
    border-color: darkgrey;
    border-width: 1px;
    border-radius: 8px;
    background-color: white;
}

hr {
    border-color: #CFDFE4;
}

h1 {
    font-family: sans-serif;
}

p {
    font-family: serif;
}

a {
    color: darkgreen;
}

del {
    color: grey;
}

mark {
    background-color: pink;
    color: darkblue;
}

h2 {
    text-align: left;
    font-family: sans-serif;
}

h3 {
    color: rgba(0, 0, 139, 0.8);
    font-family: sans-serif;
}

pre.transparent-text {
    color: rgba(0, 0, 0, 0.5);
}